
<div class="container" style="text-align: center;">
   
        <h1>Quick Links</h1> <br>
        <a routerLink="about" style="text-decoration: none;">About</a> <br> <br>
        <a routerLink="samples" style="text-decoration: none;">Samples</a> <br> <br>
        <a routerLink="contact" style="text-decoration: none;">Contact</a> <br> <br>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>  
    
  </div>
